@font-face {
  font-family: 'Cousine-Bold';
  src: url('@/assets/fonts/Cousine-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cousine-Regular';
  src: url('@/assets/fonts/Cousine-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
